<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>wellnexus</title>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="side-menu">
                    <img src="{{ url_for('static', filename='AI_app_logo-removebg-preview.png') }}" class="logo">

                    <button class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button>
                    <ul>
                        <hr>
                        <li>
                            <a href="index.html"><img src="{{ url_for('static', filename='house-black-silhouette-without-door.png') }}" class="home-icon">
                                <b>Home</b>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ url_for('static', filename='diagnosis.png') }}" class="diagnosis-icon">
                                <b>Diagnosis/Recommendation</b>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ url_for('static', filename='hospital.png') }}" class="health-centre-icon">
                                <b>Nearest health facility</b>
                            </a>
                        </li>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='telephone.png') }}" class="emergency-icon">
                            <b>Emergency</b>
                        </a>
                    </li>
                    <br>
                    <br>
                    <br><br><br><br><br><br>
                    <hr>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='info.png') }}" class="info-icon">
                            <b>About</b>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='arrow-up.png') }}" class="updates-icon">
                            <b>Updates and FAQs</b>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='moon.png') }}" class="dark-mode-icon">
                            <b>Dark mode</b>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="home-page">
                <section class="home-page-menu">
                    <div class="home-page-text">
                        <br><br><br>
                        <h1>Hi! I'm Nexus,<br>
                            your personal health assistant.</h1>
                        <h2>How are you feeling today?</h2>
                        <br><br>
                        <button class="input-btn">
                            <img src="icons8-plus-48.png" class="plus">
                            <img src="{{ url_for('static', filename='icons8-plus-48.png') }}" class="plus">
                            &nbsp; &nbsp; &nbsp; Add a symptom</button>
                    </div>
                    <div class="home-page-image">
                        <img src="{{ url_for('static', filename='4408-removebg-preview.png') }}" class="ai-assistant">
                    </div>
                </section>
                <br><br><br><br>
                <form class="input-section">
                    <input type="text" maxlength="2048" size="80">
                    &nbsp; &nbsp;
                    <img src="{{ url_for('static', filename='microphone-black-shape.png') }}" class="microphone" id="record-button">
                    <button id="stop-record">Stop Recording</button>
                    <div class="output" id="output">
                        {% if output %}
                            <p>
                                {{output}}</p>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn_in">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html></main><!--    <script src="/static/recorder.js"></script> --><script>

const record = document.getElementById("record-button");
const stopRecord = document.getElementById("stop-record");

navigator.mediaDevices.getUserMedia({audio: true}).then(stream => {
    handlerFunction(stream)
})

let rec;

function handlerFunction(stream) {
    rec = new MediaRecorder(stream);
    rec.ondataavailable = e => {
        audioChunks.push(e.data);
        if (rec.state == "inactive") {
            let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
            //        recordedAudio.src =URL.createObjectURL(blob);
            //      recordedAudio.controls=true;
            //    recordedAudio.autoplay=true;
            sendData(blob)
        }
    }
}

function sendData(blob) {
    const formA = new FormData();
    formA.append("audio_file", blob);
    // const input = document.querySelector('#input').value;
    fetch('/to_whisper', {
        method: 'POST',
        body: formA
    }).then(response => response.json()).then(data => {
        const diagnosis = data.response;
        const output = document.querySelector('#output');
        output.innerHTML = `<p>${diagnosis}</p>`;
    });
}

stopRecord.disabled = true;
stopRecord.style.backgroundColor = "brown";
stopRecord.style.color = "white";

record.onclick = e => {
    console.log("record button clicked");
    record.disabled = true;
    record.style.backgroundColor = "blue";
    stopRecord.disabled = false;
    audioChunks = [];
    rec.start();
} stopRecord.onclick = e => {
    console.log("stop button clicked")
    record.disabled = true;
    record.style.backgroundColor = "red";
    rec.stop();
}

const form = document.querySelector('form');
form.addEventListener('submit', (e) => {
    e.preventDefault();
    const input = document.querySelector('#input').value;
    fetch('/symptom-checker?input=' + input).then(response => response.json()).then(data => {
        const diagnosis = data.response;
        const output = document.querySelector('#output');
        output.innerHTML = `<p>${diagnosis}</p>`;
    });
});</script></body></html>
